* {
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
}

:root {
	line-height: 1.5;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	font-family: "Montserrat";

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.946);
}
.container {
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 1vw;
	background: rgba(0, 0, 0, 0.055);
	backdrop-filter: blur(50px);
	z-index: 2;
}
.cont {
	max-width: 440px;
	margin: 0 auto;
	height: 100%;
	padding: 12px;
}
button {
	border: none;
	color: #fff;
	font-family: "Montserrat";
}
