* {
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
}

:root {
	line-height: 1.5;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	font-family: "Montserrat";

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	width: 100%;
	height: 100%;
	background: #030303;
}
.container {
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 1;
}

.wrapper-blures {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.cont-blures {
	max-width: 420px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;

}
.blures-1 {
	position: absolute;
	background: hsla(0, 0%, 100%, 0.925);
	width: 3.2%;
	top: 2%;
	left: 7%;
	aspect-ratio: 1/7;
}
.blures-2 {
	position: absolute;
	background: #ffffff8f;
	width: 2%;
	top: 2%;
	right: 17%;
	aspect-ratio: 1/26;
	transform: rotate(5deg);

}
.blures-3 {
	position: absolute;
	background: #81220269;
	width: 60%;
	left: -14%;
	transform: rotate(15deg);
	top: 2.5%;
	aspect-ratio: 1;
	clip-path: polygon(80% 48%, 82% 9%, 95% 1%, 95% 35%, 69% 82%, 15% 95%, 15% 84%, 50% 76%);
}
.blures-4 {
	position: absolute;
	background: #38150a3b;
	width: 55%;
	top: 5%;
	left: 12%;
	aspect-ratio: 1;
}
.blures-5 {
	position: absolute;
	background: #ffffff27;
	width: 35%;
	top: 0%;
	right:16%;
	aspect-ratio: 1;
	transform: rotate(-260deg);
	clip-path: polygon(86% 56%, 69% 74%, 50% 89%, 36% 98%, 15% 85%, 40% 76%, 67% 57%, 78% 27%);
}
.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 1vw;
	background: hsla(0, 0%, 17%, 0.039);
	backdrop-filter: blur(40px);
	z-index: 3;
}
.cont {
	max-width: 420px;
	margin: 0 auto;
	height: 100%;
	padding: 10px;
}
button {
	border: none;
	color: #fff;
	font-family: "Montserrat";
}
