.cart {
	background: #2f2d2b56;
	border-radius: 16px;
	backdrop-filter: blur(12px);
	transition: 0.5s cubic-bezier(0.36, -0.1, 0.3, 2.33);
	will-change: auto;
}
.cartControll {
	width: 100%;
	padding: 18px;
	display: flex;
	flex-direction: column;
	line-height: 1;
	min-height: 160px;
	aspect-ratio: 2/1;
}
.infoCont {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.caption {
	margin-top: 2px;
	letter-spacing: -0.5px;
	font-weight: 500;
	color: #88888881;
	display: block;
	font-size: 16px;
	flex: 1;
}
.textCard {
	font-size: 26px;
	font-weight: 600;
	display: flex;
	flex-direction: column;
}
.checkboks {
	cursor: default;
	height: 24px;
	width: 42px;
	border-radius: 50px;
	background: #323232;
	padding: 2px;
	transition: 0.4s cubic-bezier(0.65, -0.4, 0.32, 1.36);
	will-change: auto;
}
.checkboksActive {
	background: #ff6f41;
}
.circle {
	display: block;
	height: 100%;
	aspect-ratio: 1;
	background: #fff;
	border-radius: 50%;
	transform: scale(1.05) translateX(0);
	transition: 0.4s cubic-bezier(0.65, -0.4, 0.32, 1.36);
	will-change: auto;
}
.circleActive {
	transform: translateX(calc(100% - 2px));
}
.infoCont2 {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.gradus {
	font-size: 52px;
	font-weight: 600;
	line-height: 1;
	letter-spacing: -2px;
	position: relative;
	& .circleGradus {
		position: absolute;
		top: 0;
		width: 13px;
		right: -15px;
	}
}
.buttonCont {
	width: 100%;
	justify-content: flex-end;
	height: 105%;
	display: flex;
	align-items: center;
	& button {
		cursor: default;
		background: #2f2d2b4b;
		border-radius: 16px;
		font-size: 36px;
		font-weight: 200;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		border-radius: 50%;
		margin-left: 10px;
		aspect-ratio: 1;
		position: relative;
	}
	& .increment {
		&::after,
		&::before {
			content: "";
			position: absolute;
			transition: 0.2s cubic-bezier(0.36, -0.1, 0.3, 2.33);
			border-radius: 5px;
			will-change: transforms;
		}
		&::after {
			width: 35%;
			height: 3px;
			background: #fff;
		}
		&::before {
			height: 35%;
			width: 3px;
			background: #fff;
		}
		&:hover::before,
		&:hover::after {
			transform: scale(1.1);
		}
	}
	& .decrement {
		&::before {
			content: "";
			position: absolute;
			transition: 0.2s cubic-bezier(0.36, -0.1, 0.3, 2.33);
			border-radius: 5px;
			will-change: transforms;
			width: 35%;
			height: 3px;
			background: #fff;
		}

		&:hover::before {
			transform: scale(1.1);
		}
	}
}
